# Disable directory indexing
Options -Indexes

RewriteEngine On
RewriteBase /

# Redirect all subdomains to non-www for jas0n.cloud
RewriteCond %{HTTP_HOST} ^(.*)\.jas0n\.cloud$ [NC]
RewriteCond %{HTTP_HOST} !^jas0n\.cloud$ [NC]
RewriteRule ^(.*)$ http://jas0n.cloud/$1 [R=301,L]

# Apply rule to restrict access to index.php when host is IP address
RewriteCond %{HTTP_HOST} ^209\.250\.240\.149$
RewriteRule ^index\.php$ - [F,L]

# If the request is for index.php and not from the specific IP, allow processing
RewriteCond %{HTTP_HOST} !^209\.250\.240\.149$
RewriteRule ^index\.php$ - [L]

# Remove trailing slash if it's not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Check if the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all non-existent requests to index.php
RewriteRule . /index.php [L]

# Ensure localhost does not interfere with jas0n.cloud rules
RewriteCond %{HTTP_HOST} ^localhost$ [NC]
RewriteRule ^ - [L]